select {
  border: 1px solid #727272;
  background: white;
  color: black;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}
button,
input[type="submit"],
input[type="button"] {
  border: 1px solid #727272;
  border-radius: 2px;
  color: black;
  background: #efefef;
  outline: none;
}
input[type="text"] {
  border: 1px solid #727272;
  background: white;
  border-radius: 2px;
  color: black;
}
