@import './tailwind.css';
body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

#root {
  transition: transform 0.1s ease-out;
}

/* 縦向きの場合 */
@media (orientation: portrait) {
  #root {
    transform:  rotate(90deg) translate(calc(50vh - 50vw), calc(50vh - 50vw));
    height: 100vw;  /* 回転後に縦横を逆転 */
    width: 100vh;   /* 回転後に縦横を逆転 */
  }
}

select {
  border: 1px solid #727272;
  background: white;
  color: black;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}
button,
input[type="submit"],
input[type="button"] {
  border: 1px solid #727272;
  border-radius: 2px;
  color: black;
  background: #efefef;
  outline: none;
}
input[type="text"] {
  border: 1px solid #727272;
  background: white;
  border-radius: 2px;
  color: black;
}

/* pull down menu */
.pulldown {
  display: inline-block;
  position: relative;
}
.pulldown button.pulldownOpener::after {
  content: "▼";
}
.pulldown ul,
ul.contextMenu {
  display: none;
  position: absolute;
  z-index: 21;
  left: 0;
  margin: 0;
  padding: 0;
  background: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid gray;

  li {
    display: block;

    button {
      width: 100%;
      text-align: left;
      border: none;
      border-bottom: 1px solid white;
      
      i {
        width: 1em;
        text-align: center;
      }
    }
  }
}

.pulldown ul li + li,
ul.contextMenu li + li {
  border-top: 1px solid gray;
}
